.new__colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -67px;
  margin: 0px 0px 45px 0px;
}

.new__colum {
  padding: 0px 67px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new__items-title {
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #FFFFFF;
  padding: 0px 0px 30px 0px;
}

.new__items-text {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.main {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
